<div class="todo-list">
  <ng-container *ngIf="(isLoading$ | async) === false; else spinner">
    <h1>Todo List</h1>
  </ng-container>
  <app-todo-filter (filterChange)="onFilter($event)"></app-todo-filter>
  <ul class="todo-list__list">
    <li *ngFor="let todo of todoList; index as i">
      <app-todo
        [todo]="todo"
        [disabled]="(isSaving$ | async) || (isLoading$ | async)"
        (completeTodo)="onComplete($event, i)"
        (removeTodo)="onRemove($event, i)"
      ></app-todo>
    </li>
  </ul>
  <div class="todo-list__add">
    <input type="text" [(ngModel)]="newTodoInput" (keydown.enter)="onAdd()" />
    <button type="button" [disabled]="(isSaving$ | async) || (isLoading$ | async)" (click)="onAdd()">Add Todo</button>
  </div>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>
